*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
/* navbar */
li{
    list-style: none;
}
.links a{
    text-decoration: none;
    color:#fff;
    font-size: 1rem;
}
a{
    text-decoration: none;
    color:#fff;
    font-size: 1rem;
}
.links a:hover{
    color: orange;
}
header{
    position: relative;
    padding: 0 2 rem;
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .links{
    display: flex;
    gap:2rem;   
}
.navbar .toggle_btn{
    color:#fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.action_btn{
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer; 
    transition: scale 0.2 ease;      
}
.action_btn:hover{
    scale: 1.05;
    color: #fff;
}
.action_btn:active{
    scale: 0.95;
}
/* Video */
.container{
    width:100%;
    height:100vh;
    background-color:rgba(0,0,0,0.4);
    display: felx;
    align-items: center;
    justify-content: center;
}
.content{
    text-align: center;
}

.content h1{
    font-size: 95px;
    color:white;
    margin-bottom: 50px;
}
.content a{
    font-size: 23px;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 15px 25px;
    border-radius: 50px;
    transition: 0.3s;
}
.content a:hover{
    background-color:white;
    color: black;
}
.background-clip{
    position: absolute;
    right:0;
    bottom: 0;
    z-index: -1;
}
@media(min-aspect-ratio:16/9){
    .background-clip{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio:16/9){
    .background-clip{
        width: auto;
        height: 100%;
    }
}

